# Entornos virtuales locales
venv/
env/
.venv/

# Caché de Python (Evita conflictos entre tu máquina y el contenedor)
__pycache__/
*.pyc
*.pyo

# Análisis exploratorio (No se necesita en producción)
notebooks/
*.ipynb

# Git y credenciales (Seguridad fundamental)
.git/
.env
